<h2 class="page-title">Setup</h2>

<section class="block">
  <hr>
  <p class="title">No quizzes available yet. Please run the rake task <code>rake quiz:populate</code> from your console.</p>
  <hr>
</section>