<h2 class="page-title">Results</h2>

<% @quiz.questions.each do |question| %>
  <section class="block">
    <h3 class="title"><%= question.text %></h3>

    <ul class="list-unstyled choices">
      <% question.choices.each do |choice| %>
        <% answers = Answer.where(choice: choice, question: question) %>
        <% answers_by_user = answers.find_by(quiz_response: @user.quiz_response) %>

        <li>
          <% if choice.correct? %>
            <i class="glyphicon glyphicon-ok correct-choice"></i>
          <% end %>

          <%= choice.text %>

          <span>(<%= answers.count %> user(s) voted on this) <b><%= answers_by_user.present? ? '| (Voted by you)' : nil %></b></span>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
